---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TxSyzt4yJEGWqZ7rultVXOfY4", oauth_nonce="78a6461ee3aa492c8b983a59edd5b8fb",
        oauth_signature="Drs%2FAwmwjIos4PG9fArQvX8bQhw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1610460707", oauth_token="1348859575106031617-4KQLgyJ0xGxxO5AanjZjByiImnYf1X",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Jan 2021 14:11:48 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 557fe9c2ecd7df51c73bfd24ce0cde1d
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '74'
      X-Rate-Limit-Reset:
      - '1610461608'
      X-Response-Time:
      - '192'
      X-Transaction:
      - 00a0b15f00180019
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: UTF-8
      string: '{"id":1348859575106031617,"id_str":"1348859575106031617","name":"Microverse
        Bot","screen_name":"MicroverseB","location":"","description":"Retweets tweets
        that are tagged with #microverse","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":2,"friends_count":0,"listed_count":0,"created_at":"Tue
        Jan 12 05:09:32 +0000 2021","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":9,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","suspended":false,"needs_phone_verification":false}'
  recorded_at: Tue, 12 Jan 2021 14:11:48 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/ids.json?cursor=-1&user_id=1348859575106031617
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TxSyzt4yJEGWqZ7rultVXOfY4", oauth_nonce="03576347e56aa479b68a4d241ae1e3cf",
        oauth_signature="J1onNyf2aK8ZN2l%2BmNQDnx91QF8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1610460708", oauth_token="1348859575106031617-4KQLgyJ0xGxxO5AanjZjByiImnYf1X",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Jan 2021 14:11:48 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 053db74557b6dd1eb6b322753be8899d
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1610461608'
      X-Response-Time:
      - '189'
      X-Transaction:
      - 00f2c73b00159a9e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"ids":[1348907786885689347,828657908611239936],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0","total_count":null}'
  recorded_at: Tue, 12 Jan 2021 14:11:48 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?result_type=recent&user_id=1348907786885689347
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TxSyzt4yJEGWqZ7rultVXOfY4", oauth_nonce="395f3c670cf551cff709c413e12b20ce",
        oauth_signature="1dloCBTv8065tbwzc1t5N%2FyjFck%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1610460708", oauth_token="1348859575106031617-4KQLgyJ0xGxxO5AanjZjByiImnYf1X",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Jan 2021 14:11:49 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Remaining:
      - '99960'
      X-App-Rate-Limit-Reset:
      - '1610525204'
      X-Connection-Hash:
      - 837721efbcbfe4b65dd01f73642eefe1
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '896'
      X-Rate-Limit-Reset:
      - '1610460799'
      X-Response-Time:
      - '224'
      X-Transaction:
      - 00a51db5003178ad
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Jan 12 13:58:01 +0000 2021","id":1348992635092963328,"id_str":"1348992635092963328","text":"Major
        refactoring #microverse","truncated":false,"entities":{"hashtags":[{"text":"microverse","indices":[18,29]}],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1348907786885689347,"id_str":"1348907786885689347","name":"Yell
        it","screen_name":"Yellit8","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Tue
        Jan 12 08:21:01 +0000 2021","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":7,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":true,"lang":"ro"},{"created_at":"Tue
        Jan 12 10:02:08 +0000 2021","id":1348933271506153473,"id_str":"1348933271506153473","text":"Need
        to tag it #microverse","truncated":false,"entities":{"hashtags":[{"text":"microverse","indices":[15,26]}],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id"[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/retweet/1348992635092963328.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TxSyzt4yJEGWqZ7rultVXOfY4", oauth_nonce="a685f99952b3648f67007039b46fc0ce",
        oauth_signature="EX7G3oaH7XFJA2a8YaIoBcqWT70%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1610460709", oauth_token="1348859575106031617-4KQLgyJ0xGxxO5AanjZjByiImnYf1X",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Jan 2021 14:11:49 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0d176a9bb65e6aea5263ed8d332784cc
      X-Response-Time:
      - '200'
      X-Transaction:
      - '00988ba7009bccbc'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":327,"message":"You have already retweeted this Tweet."}]}'
  recorded_at: Tue, 12 Jan 2021 14:11:50 GMT
[...]
