{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23microverse&result_type=recent&rpp=50&since_id",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition": [
            "attachment; filename=json.json"
          ],
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Last-Modified": [
            "Tue, 12 Jan 2021 12:55:13 GMT"
          ],
          "Status": [
            "200 OK"
          ],
          "X-Access-Level": [
            "read-write"
          ],
          "X-Connection-Hash": [
            "4038f123b4dc861f88deacd1c503ccd0"
          ],
          "X-Rate-Limit-Limit": [
            "180"
          ],
          "X-Rate-Limit-Remaining": [
            "179"
          ],
          "X-Rate-Limit-Reset": [
            "1610457013"
          ],
          "X-Response-Time": [
            "273"
          ],
          "X-Transaction": [
            "00363145000d46ec"
          ],
          "X-Twitter-Response-Tags": [
            "BouncerCompliant"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"statuses\":[{\"created_at\":\"Tue Jan 12 10:02:26 +0000 2021\",\"id\":1348933345351122944,\"id_str\":\"1348933345351122944\",\"text\":\"RT @Yellit8: Need to tag it #microverse\",\"truncated\":false,\"entities\":{\"hashtags\":[{\"text\":\"microverse\",\"indices\":[28,39]}],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"Yellit8\",\"name\":\"Yell it\",\"id\":1348907786885689347,\"id_str\":\"1348907786885689347\",\"indices\":[3,11]}],\"urls\":[]},\"metadata\":{\"iso_language_code\":\"en\",\"result_type\":\"recent\"},\"source\":\"\",\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":1348859575106031617,\"id_str\":\"1348859575106031617\",\"name\":\"Microverse Bot\",\"screen_name\":\"MicroverseB\",\"location\":\"\",\"description\":\"Retweets tweets that are tagged with #microverse\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":2,\"friends_count\":0,\"listed_count\":0,\"created_at\":\"Tue Jan 12 05:09:32 +0000 2021\",\"favourites_count\":0,\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":false,\"verified\":false,\"statuses_count\":8,\"lang\":null,\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"F5F8FA\",\"profile_background_image_url\":null,\"profile_background_image_url_https\":null,\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/abs.twimg.com\\/sticky\\/default_profile_images\\/default_profile_normal.png\",\"profile_image_url_https\":\"https:\\/\\/abs.twimg.com\\/sticky\\/default_profile_images\\/default_profile_normal.png\",\"profile_link_color\":\"1DA1F2\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":true,\"default_profile\":true,\"default_profile_image\":true,\"following\":false,\"follow_request_sent\":false,\"notifications\":false,\"translator_type\":\"none\"},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweeted_status\":{\"created_at\":\"Tue Jan 12 10:02:08 +0000 2021\",\"id\":1348933271506153473,\"id_str\":\"1348933271506153473\",\"text\":\"Need to tag it #microverse\",\"truncated\":false,\"entities\":{\"hashtags\":[{\"text\":\"microverse\",\"indices\":[15,26]}],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"metadata\":{\"iso_language_code\":\"en\",\"result_type\":\"recent\"},\"source\":\"\\u003ca href=\\\"https:\\/\\/mobile.twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web App\\u003c\\/a\\u003e\",\"i[...]
