---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Jan 2021 06:53:09 GMT
      Ml:
      - S
      Status:
      - 403 Forbidden
      X-Connection-Hash:
      - 0b139d60941cb0ed55f198f993e14188
      X-Response-Time:
      - '179'
      X-Transaction:
      - 006a08440055cca0
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Tue, 12 Jan 2021 06:53:10 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=MicroverseB
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - 2e5cbb161389ad1f0aba3010e6b0510a
      X-Response-Time:
      - '182'
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Tue, 12 Jan 2021 06:53:10 GMT
recorded_with: VCR 6.0.0
