---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TxSyzt4yJEGWqZ7rultVXOfY4", oauth_nonce="6cd74c6aec6f5198f1ff955c63514836",
        oauth_signature="lym8OrXmmUrCqx2zwQP%2FxexBTLs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1610438803", oauth_token="1348859575106031617-1tZYpG2G5e8W6vkwJUNS1EiCks9Ssl",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Jan 2021 08:06:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Remaining:
      - '99999'
      X-App-Rate-Limit-Reset:
      - '1610525204'
      X-Connection-Hash:
      - 446ab6c1c57af2b11f0f3d0023e031f8
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1610439704'
      X-Response-Time:
      - '207'
      X-Transaction:
      - '0095b482009e6351'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Jan 12 07:57:30 +0000 2021","id":1348901906383425540,"id_str":"1348901906383425540","text":"Is
        it working?","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1348859575106031617,"id_str":"1348859575106031617","name":"Microverse
        Bot","screen_name":"MicroverseB","location":"","description":"Retweets tweets
        that are tagged with #microverse","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Tue
        Jan 12 05:09:32 +0000 2021","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":3,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Tue
        Jan 12 06:11:03 +0000 2021","id":1348875119347683339,"id_str":"1348875119347683339","text":"hello
        world another time","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1348859575106031617,"id_str":"1348859575106031617","name":"Microv[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TxSyzt4yJEGWqZ7rultVXOfY4", oauth_nonce="da9e4445b58cd0548566317779667967",
        oauth_signature="IEjoPdmLtvtxKy09yyABIpG593w%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1610438969", oauth_token="1348859575106031617-1tZYpG2G5e8W6vkwJUNS1EiCks9Ssl",
        oauth_ver[...]
[...]
