{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.twitter.com/1.1/blocks/ids.json?cursor=-1",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition": [
            "attachment; filename=json.json"
          ],
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Last-Modified": [
            "Wed, 13 Jan 2021 08:26:40 GMT"
          ],
          "Status": [
            "200 OK"
          ],
          "X-Access-Level": [
            "read-write"
          ],
          "X-Connection-Hash": [
            "9af4e722598c1df8ea1ed8cfa7fe0486"
          ],
          "X-Rate-Limit-Limit": [
            "15"
          ],
          "X-Rate-Limit-Remaining": [
            "13"
          ],
          "X-Rate-Limit-Reset": [
            "1610527236"
          ],
          "X-Response-Time": [
            "186"
          ],
          "X-Transaction": [
            "00edc1ef006d0b1a"
          ],
          "X-Twitter-Response-Tags": [
            "BouncerCompliant"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ids\":[],\"next_cursor\":0,\"next_cursor_str\":\"0\",\"previous_cursor\":0,\"previous_cursor_str\":\"0\",\"total_count\":null}"
        }
      },
      "recorded_at": "Wed, 13 Jan 2021 08:26:40 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=MicroverseB",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition": [
            "attachment; filename=json.json"
          ],
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Last-Modified": [
            "Wed, 13 Jan 2021 08:26:41 GMT"
          ],
          "Status": [
            "200 OK"
          ],
          "X-Access-Level": [
            "read-write"
          ],
          "X-App-Rate-Limit-Limit": [
            "100000"
          ],
          "X-App-Rate-Limit-Remaining": [
            "99999"
          ],
          "X-App-Rate-Limit-Reset": [
            "1610612801"
          ],
          "X-Connection-Hash": [
            "4bbb1f7359c01414af6dce760e92f80f"
          ],
          "X-Rate-Limit-Limit": [
            "900"
          ],
          "X-Rate-Limit-Remaining": [
            "899"
          ],
          "X-Rate-Limit-Reset": [
            "1610527301"
          ],
          "X-Response-Time": [
            "356"
          ],
          "X-Transaction": [
            "008f68d100240795"
          ],
          "X-Twitter-Response-Tags": [
            "BouncerCompliant"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"created_at\":\"Tue Jan 12 16:27:44 +0000 2021\",\"id\":1349030309988192257,\"id_str\":\"1349030309988192257\",\"text\":\"RT @Yellit8: Capitalized hash tag #Microverse\",\"truncated\":false,\"entities\":{\"hashtags\":[{\"text\":\"Microverse\",\"indices\":[34,45]}],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"Yellit8\",\"name\":\"Yell it\",\"id\":1348907786885689347,\"id_str\":\"1348907786885689347\",\"indices\":[3,11]}],\"urls\":[]},\"source\":\"\",\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":1348859575106031617,\"id_str\":\"1348859575106031617\",\"name\":\"Microverse Bot\",\"screen_name\":\"MicroverseB\",\"location\":\"Remote\",\"description\":\"Spreading the word about @microverseinc. Retweets tweets that are tagged with #Microverse\\nCreated by @iamhawaabi\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":2,\"friends_count\":1,\"listed_count\":0,\"created_at\":\"Tue Jan 12 05:09:32 +0000 2021\",\"favourites_count\":0,\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":false,\"verified\":false,\"statuses_count\":11,\"lang\":null,\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"F5F8FA\",\"profile_background_image_url\":null,\"profile_background_image_url_https\":null,\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/1349034413313515522\\/0Cfqrl_8_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/1349034413313515522\\/0Cfqrl_8_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/1348859575106031617\\/1610470303\",\"profile_link_color\":\"1DA1F2\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":true,\"default_profile\":true,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false,\"translator_type\":\"none\"},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweeted_status\":{\"created_at\":\"Tue Jan 12 16:27:35 +0000 2021\",\"id\":1349030271383789569,\"id_str\":\"1349030271383789569\",\"text\":\"Capitalized hash tag #Microverse\",\"truncated\":false,\"entities\":{\"hashtags\":[{\"text\":\"Microverse\",\"indices\":[21,32]}],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"source\":\"\\u003ca href=\\\"https:\\/\\/mobile.twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web App\\u003c\\/a\\u003e\",\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&include_rts=true",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition": [
            "attachment; filename=json.json"
          ],
          "C[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&include_rts=true&max_id=1348908084178030591",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition": [
            "attachment; filename=json.json[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23microverse&result_type=recent&rpp=50&since_id=1349030309988192257",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition": [
            "attachment; filename=json.json"
          ],
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Last-Modified": [
            "Wed, 13 Jan 2021 08:26:43 GMT"
          ],
          "Status": [
            "200 OK"
          ],
          "X-Access-Level": [
            "read-write"
          ],
          "X-Connection-Hash": [
            "a7aeb2c51a7a6037235fa65be8b12838"
          ],
          "X-Rate-Limit-Limit": [
            "180"
          ],
          "X-Rate-Limit-Remaining": [
            "179"
          ],
          "X-Rate-Limit-Reset": [
            "1610527303"
          ],
          "X-Response-Time": [
            "195"
          ],
          "X-Transaction": [
            "00475f6900a4b4bc"
          ],
          "X-Twitter-Response-Tags": [
            "BouncerCompliant"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"statuses\":[],\"search_metadata\":{\"completed_in\":0.008,\"max_id\":1349271643458207749,\"max_id_str\":\"1349271643458207749\",\"query\":\"%23microverse\",\"refresh_url\":\"?since_id=1349271643458207749&q=%23microverse&result_type=recent&include_entities=1\",\"count\":100,\"since_id\":1349030309988192257,\"since_id_str\":\"1349030309988192257\"}}"
        }
      },
      "recorded_at": "Wed, 13 Jan 2021 08:26:43 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}