{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.twitter.com/1.1/statuses/retweet/1348933345351122944.json",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        }
      },
      "response": {
        "status": {
          "code": 403,
          "message": "Forbidden"
        },
        "headers": {
          "Content-Disposition": [
            "attachment; filename=json.json"
          ],
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Last-Modified": [
            "Tue, 12 Jan 2021 14:09:30 GMT"
          ],
          "Status": [
            "403 Forbidden"
          ],
          "X-Access-Level": [
            "read-write"
          ],
          "X-Connection-Hash": [
            "30b4d3e417abf93048452a1a07f226e2"
          ],
          "X-Response-Time": [
            "216"
          ],
          "X-Transaction": [
            "00b3a668005368b8"
          ],
          "X-Twitter-Response-Tags": [
            "BouncerCompliant"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errors\":[{\"code\":327,\"message\":\"You have already retweeted this Tweet.\"}]}"
        }
      },
      "recorded_at": "Tue, 12 Jan 2021 14:09:30 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}