---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TxSyzt4yJEGWqZ7rultVXOfY4", oauth_nonce="e20631eb5c4d2bcfe91393968c6949a9",
        oauth_signature="k%2BXm6QYxoC6Zm1w%2FCYKVend1Q6U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1610460713", oauth_token="1348859575106031617-4KQLgyJ0xGxxO5AanjZjByiImnYf1X",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Jan 2021 14:11:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - bb3ac3d4cbbbb19907fc861029dc4626
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '73'
      X-Rate-Limit-Reset:
      - '1610461608'
      X-Response-Time:
      - '193'
      X-Transaction:
      - 003cda72003e7ff6
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: UTF-8
      string: '{"id":1348859575106031617,"id_str":"1348859575106031617","name":"Microverse
        Bot","screen_name":"MicroverseB","location":"","description":"Retweets tweets
        that are tagged with #microverse","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":2,"friends_count":0,"listed_count":0,"created_at":"Tue
        Jan 12 05:09:32 +0000 2021","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":9,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","suspended":false,"needs_phone_verification":false}'
  recorded_at: Tue, 12 Jan 2021 14:11:54 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/ids.json?cursor=-1&user_id=1348859575106031617
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TxSyzt4yJEGWqZ7rultVXOfY4", oauth_nonce="4000bfaa3563eee0d185593466459dab",
        oauth_signature="xX8oL4Bv3NxjaKud2SQc0QXdMDQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1610460714", oauth_token="1348859575106031617-4KQLgyJ0xGxxO5AanjZjByiImnYf1X",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Jan 2021 14:11:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 41056fc852df38c2fdc2e724e1e6ad5c
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1610461608'
      X-Response-Time:
      - '188'
      X-Transaction:
      - 0077a30200518963
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"ids":[1348907786885689347,828657908611239936],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0","total_count":null}'
  recorded_at: Tue, 12 Jan 2021 14:11:55 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?result_type=recent&user_id=1348907786885689347
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TxSyzt4yJEGWqZ7rultVXOfY4", oauth_nonce="0ffa3431b0c713e15cd437a633c750e9",
        oauth_signature="npWL5%2B9foOd%2BRrmDedIRUYotbBw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1610460715", oauth_token="1348859575106031617-4KQLgyJ0xGxxO5AanjZjByiImnYf1X",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Jan 2021 14:11:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Remaining:
      - '99958'
      X-App-Rate-Limit-Reset:
      - '1610525204'
      X-Connection-Hash:
      - fc9d2b403c9cd86734a9d3f966bf04f5
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '894'
      X-Rate-Limit-Reset:
      - '1610460799'
      X-Response-Time:
      - '233'
      X-Transaction:
      - 00a58a57004eb12e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Jan 12 13:58:01 +0000 2021","id":1348992635092963328,"id_str":"1348992635092963328","text":"Major
        refactoring #microverse","truncated":false,"entities":{"hashtags":[{"text":"microverse","indices":[18,29]}],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1348907786885689347,"id_str":"1348907786885689347","name":"Yell
        it","screen_name":"Yellit8","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Tue
        Jan 12 08:21:01 +0000 2021","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":7,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":true,"lang":"ro"},{"created_at":"Tue
        Jan 12 10:02:08 +0000 2021","id":1348933271506153473,"id_str":"1348933271506153473","text":"Need
        to tag it #microverse","truncated":false,"entities":{"hashtags":[{"text":"microverse","indices":[15,26]}],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id"[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/retweet/1348992635092963328.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TxSyzt4yJEGWqZ7rultVXOfY4", oauth_nonce="1b117e0da9347813d974238dc2f9871e",
        oauth_signature="PLe%2FvjTn0m4vsysMZ%2FU0KdKYPXE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1610460715", oauth_token="1348859575106031617-4KQLgyJ0xGxxO5AanjZjByiImnYf1X",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Jan 2021 14:11:56 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 80c94f591065d0a2aee9d4e39a0667bf
      X-Response-Time:
      - '201'
      X-Transaction:
      - 001ae748009d0266
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":327,"message":"You have already retweeted this Tweet."}]}'
  recorded_at: Tue, 12 Jan 2021 14:11:56 GMT
[...]
