{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.twitter.com/1.1/blocks/ids.json?cursor=-1",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition": [
            "attachment; filename=json.json"
          ],
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Last-Modified": [
            "Wed, 13 Jan 2021 09:29:25 GMT"
          ],
          "Status": [
            "200 OK"
          ],
          "X-Access-Level": [
            "read-write"
          ],
          "X-Connection-Hash": [
            "fdf23b9b1ff61e52d413511e7140ef77"
          ],
          "X-Rate-Limit-Limit": [
            "15"
          ],
          "X-Rate-Limit-Remaining": [
            "10"
          ],
          "X-Rate-Limit-Reset": [
            "1610530488"
          ],
          "X-Response-Time": [
            "187"
          ],
          "X-Transaction": [
            "001eeffe00f1d886"
          ],
          "X-Twitter-Response-Tags": [
            "BouncerCompliant"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ids\":[],\"next_cursor\":0,\"next_cursor_str\":\"0\",\"previous_cursor\":0,\"previous_cursor_str\":\"0\",\"total_count\":null}"
        }
      },
      "recorded_at": "Wed, 13 Jan 2021 09:29:25 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}